[Oo]bj/
[Bb]in/
*.suo
*.user
*.vspscc
*.vssscc
_ReSharper.*
/Packages
*.ncrunchsolution
*.Publish.xml
*.pyc
pavement_options.yaml
App_Packages/
TestResult.xml
_deploy/
config_local.yaml
SimpleLTC_API.sln.DotSettings
_build/
node_modules
.vs/
.idea/
spec/node_modules/
venv/
__pycache__/
